.pageWrapper {
  display: flex;
  background-color: var(--light-bg);
}

.find {
  display: flex;
  flex-direction: column;
}

.root {
  box-sizing: border-box;
  padding: 1%;
  margin: 0;
  margin-top: 1vh;
  padding-bottom: 0;
}

.headerText {
  font-family: var(--login-font);
  font-size: 2rem;
  font-weight: 600;
}

.operations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 260px;
}
.twobutton {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.item {
  background: var(--primary-5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 16px;
  padding: 2.2rem;
  width: 47%;
  height: 20vh;
  margin: 1rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  font-size: 25px;
  font-weight: 400;
  line-height: 20px;
  color: var(--dark-bg);
}

.recent {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  overflow-x: auto;
  background: var(--primary-5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 0.8rem;
  width: 98%;
  height: 42vh;
  margin-left: 1%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.recent h3 {
  font-weight: 600;
}

.hr {
  width: 100%;
}

.table {
  width: 100%;
  text-align: left;
  table-layout: fixed;
}

.tableRow {
  height: 2rem;
}

.tableCol {
  width: 30%;
  padding: 2%;
}
.headings {
  display: flex;
  width: 98%;
  justify-content: space-between;
  border-bottom: 1px solid;
  padding: 2vh 0;
}
.headings input {
  border-radius: 15px;
  padding-left: 10px;
  border: 1px solid;
  height: 40px;
}
@media screen and (max-width: 1000px) {
  .twobutton {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 175px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  .sendNoteButtonContainer {
    display: flex;
    justify-content: center;
  }
}
/* tab view  */
@media only screen and (max-width: 600px) {
  .recent {
    display: inline-block;
    height: 49vh;
  }
  .operations {
    display: flex;
    flex-direction: column;
  }
  .twobutton {
    display: block;
    flex-direction: column;
    height: max-content;
  }
  .item {
    width: 41%;
    height: 14vh;
    font-size: 13px;
    padding: 0.2rem;
  }
  .tableCol {
    font-size: 0.65rem;
  }
  .headings {
    margin-top: 2rem;
  }
}
/* mob view  */
@media only screen and (max-width: 350px) {
  .tableCol {
    width: 30%;
    padding: 1%;
    font-size: 0.7rem;
  }
  .recent h3 {
    font-weight: 600;
    font-size: 1rem;
  }
  .twobutton {
    height: max-content;
  }
  .operations {
    min-height: fit-content;
  }
  .item {
    height: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
  }
  .root h1 {
    font-size: 1.5rem;
  }
}
