.taskBox {
  border: 1px #3b3b3b solid;
  width: 250px;
  height: 300px;
  border-radius: 7.5px;
  background-color: #121212;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.taskTitle {
  text-align: center;
  font-size: 20px;
  color: #ffffff;
}
.taskGrid {
  width: fit-content;
  display: grid;
  /* grid-template-columns: auto auto auto auto; */
  gap: 30px;
  margin: 20px;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
