.reminder {
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  width: 80%;
  margin: auto;
  padding: 40px 0;
}

.reminderBody {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
}

.reminderBodyRight {
  width: 50%;
}

.reminderBodyLeft {
  width: 50%;
}

.reminderTitle {
  font-weight: bold;
  font-size: 30px;
  align-self: left;
}

.reminderElementTitle {
  margin-top: 20px;
}

.reminderElementBody>input[type='text']::placeholder, .reminderElementBody > textarea::placeholder {
  color: aliceblue;
  padding-left: 5px;
}

.inputText {
  margin-top: 20px;
  border-radius: 10px;
  border-width: 3px;
  border-color: #285580;
  background-color: #242526;
  color: white;
  width:80%;
}

@media (max-width: 600px) {
  .reminderBody {
    flex-direction: column;
  }

  .reminderBodyRight {
    width: 100%;
  }
  
  .reminderBodyLeft {
    width: 100%;
  }

  .inputText {
    width: 100%;
  }
}