.reminder {
  color: white;
}
.reminderBody {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reminderBodyRight {
  width: 50%;
}

.reminderBodyLeft {
  width: 50%;
}
.reminderTitle {
  font-weight: bold;
}
