
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #000;
  overflow-x: hidden;
}

.card-wrapper {
  display: inline-flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.card {
  width: 18rem;
  border: none;
}

.card-background {
  background-color: #181818 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.card-img-top {
  object-fit: cover;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Anurati;
  src: url('/assets/fonts/Anurati-Regular.otf');

}

:root{
  --primary-1: #000000;
  --primary-2: #373737;
  --primary-3: #FFD700;
  --primary-4: #2962FF;
  --main-font: 'Red Hat Display', sans-serif;
  --title-font: Anurati, 'Red Hat Display';
}


.main-1 {
  background-color: black;
}

.main-2 {
  background-color: #181818;
  padding: 70px;
}

.text {
  color: white;
  font-size: 35px;
  padding: 80px 120px 20px;
}

/* tabs */

.nav {
  background-color: #336683;
  padding: 25px;
}

.nav-tabs {
  border-bottom: none !important;
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #336683 !important;
  background-color: #a4d6ef !important;
  border-color: transparent transparent #f3f3f3;
}
#tabs .nav-tabs .nav-link {
  border: 1px solid transparent;
  color: #eee;
  font-size: 20px;
  background-color: #336683;
  border: 1px solid #a4d6ef;
  color: #a4d6ef;
}

.nav-item {
  border-radius: 0 !important;
}

.nav-item:last-child {
  border-top-right-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
}

.nav-item:first-child {
  border-top-left-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
}

.nav-tabs .nav-link.active {
  background-color: #a4d6ef !important;
}

.button-box {
  margin: 6rem 0 0 8rem;
}

.cont {
  padding: 20px;
  position: relative;
  top: 40px;
  right: 50px;
  margin-bottom: 60px;
}

.footer {
  background-color: #181818 !important;
}

ul {
  list-style-type: none;
}

ul a {
  display: block;
}

.navbar-nav {
  align-items: center !important;
  text-align: center;
}
.nav-link {
  color: #fff !important;
  font-weight: bold;
  font-family: 'Poppins',sans-serif;
}

@media (max-width:1045px) {
  .homebox .show {
    height: auto;
    padding-bottom: 10px;
  }
  .navbar-nav {
    height: 100%;
    gap:10px;
  }
  .nav-link {
    font-size: 18px;
  }
}
