.eye_icon {
  margin-left: 20rem;
  position: absolute;
  z-index: 4;
  margin-top: 15px;
  color: black;
}
.switch {
  display: flex;
  align-self: flex-start;
}
.password {
  width: 100%;
  display: flex;
}
@media (max-width: 423px) {
  .eye_icon {
    right: 14vw;
  }
}
